.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  max-height: 80px;
  max-width: 100%;
  margin: 10px 0;
}

.App-header {
  background-color: #ef2b2d;
  /* height: 150px; */
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App table {
  margin: auto;
}

.App .bg-primary, .App .thead-dark {
  color: white;
  background-color: #ef2b2d!important;
}